<article class="card" data-buttonLabel="{{buttonLabel}}" data-buttonUrl="{{buttonUrl}}">

    <div class="card__image card-img">
        <img src="{{assetSrc image}}" alt="">
    </div>

    <div class="container card-img-overlay">

        <h4 class="card__title">{{title}}</h4>
        <p class="card__title">{{description}}</p>

        <div class="card__link">

            <a href="{{ctaUrl}}" class="p-big">{{ctaLabel}}</a>
            <img src="/images/link-arrow.svg" class="icon">

        </div>
    </div>
</article>