<div class="news-card">
  <div class="news-card__image">
    {{{asset image}}}
  </div>

  <div class="news-card__info">
    <h4 class="news-card__title">{{title}}</h4>
    <p class="news-card__description">{{description}}</p>
    <a class="news-card__cta" href="{{ctaUrl}}">
      <span>
        {{ctaLabel}}
      </span>
      <i class="news-card__arrow">
        <img src="/images/icon-arrow.svg" alt="view more">
      </i>
    </a>
  </div>
</div>
