<section class="container supportHero">
    <div class="row align-items-start supportHero__wrapper">
        <div class="description col-12 col-lg-12">
            <div class="description__image supportHero__image">
                  {{{asset image}}}
            </div>

            <div class="description__text">
                <hr class="d-flex decorationLine">
                <h2 class="description__title supportHero__title">
                      {{title}}
                </h2>
                <p class="description__content supportHero__description">
                    {{description}}
                </p>
                <a class="blog__button" href="{{ctaUrl}}" target="_blank">{{ctaLabel}}</a>
             </div>

        </div>
    </div>
</section>